<h2>Comming appointments</h2>
<ul data-template="all-appointments-template" data-bind="source: appointments"></ul>

<script type="text/x-kendo-template" id="all-appointments-template">
    <li>
        <strong>Subject: </strong><span>#: subject #</span><br />
        <strong>Description: </strong><span>#: description #</span><br />
        <strong>Appointment Date: </strong><span>#: appointmentDate #</span><br />
        <strong>CreationDate: </strong><span>#: createdAt #</span><br />
        <strong>Duration: </strong><span>#: duration #</span><br />
        <strong>State: </strong><span>#: state #</span><br />
    </li>
</script>
