<h2>List</h2>
<ul data-template="all-lists-template" data-bind="source: list"></ul>
<button data-bind="click: allAppointments">All Appointments</button>
<button data-bind="click: addTodo">Add todo</button>

<script type="text/x-kendo-template" id="all-lists-template">
    <li>
        <strong>Title: </strong><span>#: title #</span><br />
        <div><strong>Todos:</strong>
            <ul data-template="todos-template" data-bind="source: todos" id="todos"></ul>
        </div>
    </li>
</script>

<script type="text/x-kendo-template" id="todos-template">

        <li data-id="#: id #">
            <strong>Text: </strong><span>#: text #</span>, 
            <strong>IsDone: </strong><span>#: isDone #</span>
            <button id="#: id #" data-bind="click: update">Change status</button>
        </li>

</script>
